/* Online image */
.online { background-image: url("icon_user_online1.gif"); }

.imageset.icon_user_online {
	background-image: url("icon_user_online1.gif");
	padding-left: 58px;
	padding-top: 58px;
}
